body {
	padding: 0;
	margin: 0;

	font-family: 'Raleway', sans-serif;
	font-size: 19px;
	font-weight: 100;
	color: #ffffff;

	background-color: #191e3f;
}

a {
	color: #fff;
}

h2 {
	font-weight: 100;
}

.container {
	width: 1170px; 
	margin: 0 auto;
}


/* шапка сайта */
.header {
	display: flex;
	min-height: 1185px;
	background-image: url('../img/mountains_header.png');
}

.header__navigation {
	position: relative;
}

.navigation__img {
	width: 127px;
	height: 78px;
}

.navigation__logo {
	position: absolute;
	top: 84px;
	left: 50%;

	margin-left: -70px;
}

.burger-menu {
	position: absolute;

	right: -54px;
	top: 113px;
}

.slogan__text {
	font-size: 76.78px;
	line-height: 88.44px;
	letter-spacing: -0.022em;
	margin-top: 480px;
	margin-left: 88px;
}


/* основной контент */

/* 01 */
.mission {
	display: flex;

	min-height: 1000px;
	background-image: url('../img/mountains.png');
	background-repeat: no-repeat;
	background-position: 37px 0px;

	position: relative;
}

.mission::before {
	position: absolute;
	top: 160px;
	left: -64px;

	content: '01';

	font-family: 'Yantramanav', sans-serif;
	font-size: 286px;
	font-weight: 900;

	color: rgba(255, 255, 255, 0.01);

	letter-spacing: -0.06em;
}

.mission::after {
	position: absolute;
	top: 317px;
	left: 19px;

	content: 'mission';

	font-size: 34.23px;

	transform: rotate(-90deg);
}

.mission__text {
	position: absolute;
	top: 248px;
	right: -1px;

	width: 475px;
}

/* 02 */

.main {
	background: #191e3f url('../img/projects background.png');
	background-repeat: no-repeat;
	background-position: 0 844px;
	position: relative;

	min-height: 4466px;
}


.main.filter {
	background-blend-mode: color-dodge;
}

.projects {
	position: relative;
	min-height: 1250px;
}

.main::before {
	position: absolute;
	top: 883px;
	left: 98px;
	content: '';
	background: url('../img/R.png');
	background-repeat: no-repeat;
	height: 1234px;
	width: 1040px
}

.projects::before {
	position: absolute;
	top: -73px;
	right: -9px;

	content: '02';

	font-family: 'Yantramanav', sans-serif;
	font-size: 286px;
	font-weight: 900;

	color: rgba(255, 255, 255, 0.01);


	letter-spacing: -0.06em;
}

.projects::after {
	position: absolute;
	top: 80px;
	right: 52px;

	content: 'projects';

	font-size: 34.23px;

	transform: rotate(-90deg);
}

.project__items {
	width: 900px;
	display: flex;
	flex-wrap: wrap;

	position: relative;
	top: 167px;
}

.projects__item {	
	height: 83px;
	margin-left: 31px;
	margin-right: 55px;
	margin-bottom: 97px;
}

.projects__item:nth-child(3n) {
	margin-right: 0px;
}

.projects__item:nth-child(5) {
	margin-left: 65px;
}

.projects__item:nth-child(3) {
	position: relative;
	top: -6px;
	left: -5px;
}

.projects__item:nth-child(6) {
	position: relative;
	top: 5px;
	left: 5px;
}


/* 03 */

.team {
	position: relative;
	min-height: 1000px;
} 

.team__block {
	width: 330px;
}

.team__name {
	font-size: 38px;
	margin: 0;
	margin-bottom: 13px;
	position: relative;
}

.team__name::before {
	content: '';
	position: absolute;
	height: 5px;
	width: 56px;
	background-color: #fff;
	top: -30px;
	left: 2px;
}

.team__job {
	display: inline-block;
	font-size: 19px;
	margin-left: 1px;
	margin-bottom: 29px;

	color: rgba(255, 255, 255, 0.5);
}

.team__desc {
	font-size: 15px;
	margin-left: 4px;
}

.team::before {
	position: absolute;
	top: -100px;
	left: -50px;

	content: '03';

	font-family: 'Yantramanav', sans-serif;
	font-size: 286px;
	font-weight: 900;

	color: rgba(255, 255, 255, 0.01);

	letter-spacing: -0.01em;
}

.team::after {
	position: absolute;
	top: 55px;
	left: 52px;

	content: 'team';

	font-size: 34.23px;

	transform: rotate(-90deg);
}

.photo1 {
}

.photo1__img {
	position: absolute;
	right: -40px;
}

.photo1__text {
	position: absolute;
	left: 244px;
	top: 342px;
}

.photo2__img {
	position: absolute;
	top: 809px;
	left: -144px;
}

.photo2__text {
	position: absolute;
	top: 1049px;
	left: 334px;
}

.photo3__img {
	position: absolute;
	right: -137px;
	top: 941px;
}

.photo3__text {
	position: absolute;
	right: 174px;
	top: 1218px;
}

.photo4__img {
	position: absolute;
	top: 1376px;
	left: -16px;
}

.photo4__text {
	position: absolute;
	top: 1653px;
	left: 20px;
}

.photo5__img {
	position: absolute;
	right: -54px;
	top: 1604px;
}

.photo5__text {
	position: absolute;
	right: -103px;
	top: 1880px;

	width: 360px;
}


/* футер */


.footer {
	background: #191e3f url('../img/events background.png');
	background-repeat: no-repeat;
	background-position: 0 149px;
	position: relative;

	min-height: 1337px;
}


.footer.filter {
	background-blend-mode: color-dodge;
}


.footer::before {
	position: absolute;
	top: 0px;
	right: 18px;
	content: '';
	background: url('../img/E.png');
	background-repeat: no-repeat;
	height: 1234px;
	width: 1040px;
	opacity: 0.7;
}


.event::before {
	position: absolute;
	top: -55px;
	right: 828px;

	content: '04';

	font-family: 'Yantramanav', sans-serif;
	font-size: 286px;
	font-weight: 900;

	color: rgba(255, 255, 255, 0.01);
	letter-spacing: -0.02em;
}

.event::after {
	position: absolute;
	top: 102px;
	right: 927px;

	content: 'event';

	font-size: 34.23px;

	transform: rotate(-90deg);
}

.event__block {
	width: 475px;
	position: relative;
	top: 360px;
	left: 78px;
}

.event__header {
	font-size: 72.16px;
	letter-spacing: -0.02em;
	margin-bottom: 39px;
	padding-left: 2px;
}

.event__text {
	font-size: 19px;
}


/* футер низ */

.footer__bottom {
	font-size: 15px;
	line-height: 36px;
	width: 275px;

	position: relative;
	top: 750px;
	left: 500px;
}

.footer__logo {
	position: absolute;
	left: 41px;
	top: -5px;
}

.footer__links {
	position: absolute;
	top: 77px;
	left: -44px;
}

.footer__link {
	margin-right: 20px;
}

.footer__link:nth-child(5) {
	margin-right: 0px;
}

.footer__copyright {
	position: absolute;
	top: 112px;
	left: -16px;
}